## Integer

In [1]:
print(123123123123123123123 + 1)

123123123123123123124

In [2]:
print(10)
print(type(10))

10
<class 'int'>

## Floating-Point Numbers

In [4]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

## Strings

In [19]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [5]:
print('')
print("This string contains a single quote (') characters.")
print('This string contains a single quote (") characters.')

This string contains a single quote (') characters.
This string contains a single quote (") characters.

## Boolean Type, Boolean Context, and "Truthiness"

In [6]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Variable Assignment

In [7]:
n = 300
print(n)

300

In [8]:
n = 100000
print(n)

100000

In [9]:
a = b = c = 300
print(a, b, c)

300 300 300

## Variable Types in Python

In [10]:
var = 23.5
print(var)

23.5

In [11]:
var = "Now i am string"
print(var)

Now i am string

## Variable Names

In [12]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

## Operators and Expressions in Python

In [23]:
a = 10
b = 20
a + b

30

In [24]:
a + b - 5

25

## Arithmetics Operators

In [13]:
a = 4
b = 3

# tambah
print(a + b)
# kurang
print(a - b)
# kali
print(a * b)
# bagi
print(a / b)
# modulus
print(a % b)
# pangkat
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [14]:
10 / 5

2.0

## Comparison Operators

In [17]:
a = 10
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

False
True
True
False

In [18]:
a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

True
True
True

## String Manipulation

In [20]:
# + operator
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print("Hacktiv8" + "PTP")

foobar
foobarbaz
Hacktiv8PTP

In [21]:
# * operator
s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [22]:
# in operator
s = 'foo'
print(s in 'that food for us')
print(s in 'that good for us')

True
False

In [23]:
# case conversion
s = 'HackTIV8'
print(s.capitalize())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

## Python List

In [24]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

List are Ordered

In [26]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
a == b

False

List can Obtain an Arbitrary Objects

In [27]:
a = [12.42, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a)

[12.42, 'foobar', 3, 4, 'bark', False, 3.14159]

List Elements can be Accessed by Index

In [28]:
a = ['foo', 'baz', 'bar', 'qux', 'quux', 'corge']
print(a[0])
print(a[5])

foo
corge

In [29]:
print(a[-1])
print(a[-6])

corge
foo

In [30]:
print(a[2:5])

['bar', 'qux', 'quux']

In [31]:
print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'baz', 'bar', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'baz', 'bar', 'qux', 'quux', 'corge', 'foo', 'baz', 'bar', 'qux', 'quux', 'corge']

Modifying a Single List Value

In [32]:
a = ['foo', 'baz', 'bar', 'qux', 'quux', 'corge']
print(a)

a[2] = 10
a[-1] = 10
print(a)

['foo', 'baz', 'bar', 'qux', 'quux', 'corge']
['foo', 'baz', 10, 'qux', 'quux', 10]

In [33]:
del a[3]
print(a)

['foo', 'baz', 10, 'quux', 10]

Modifying Multiple List Values

In [34]:
a = ['foo', 'baz', 'bar', 'qux', 'quux', 'corge']
print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4]
print(a)

['baz', 'bar', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 'quux', 'corge']

Pass by Reference

In [27]:
list1 = [1, 2, 3]
list2 = list1
print(list1)
print(list2)

[1, 2, 3]
[1, 2, 3]

In [28]:
list2[1] = 4
print(list1)
print(list2)

[1, 4, 3]
[1, 4, 3]

In [29]:
del(list2[1])
print(list1)
print(list2)

[1, 3]
[1, 3]

In [30]:
print("hello")

hello

## Python Tuple

In [1]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [2]:
print(t[0])
print(t[-1])

foo
corge

Packing and Unpacking

In [3]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
print(s1)
print(s2)
print(s3)
print(s4)

foo
bar
baz
qux

## Python Dictionary

In [6]:
MLB_team = {
  'Colorado': 'Rockies',
  'Boston': 'Red Sox',
  'Minnesota': 'Twins',
  'Milwaukee': 'Brewers',
  'Seattle': 'Mariners'
}

print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])
# error KeyError: 'Toronto'
print(MLB_team['Toronto'])

Twins
Rockies

KeyError: 'Toronto'

In [7]:
MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [8]:
MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [9]:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

Building a Dictionary Incrementally

In [10]:
person = {}
type(person)

dict

In [11]:
person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 56
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 56,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [12]:
print(person['fname'])
print(person['lname'])
print(person['children'])
print(person['children'][1])
print(person['pets'])
print(person['pets']['cat'])

Hack
PTP
['Ralph', 'Betty', 'Joey']
Betty
{'dog': 'Fido', 'cat': 'Sox'}
Sox

Built-in Methods

In [13]:
d = {'a': 10, 'b': 20, 'c': 30}
print(d.items())
print(d.keys())
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

## Line Continuation

In [14]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [15]:
someone_is_of_working_age = (
  (person1_age >= 18 and person1_age <= 65) or
  (person2_age >= 18 and person2_age <= 65) or
  (person3_age >= 18 and person3_age <= 65)
)
someone_is_of_working_age

True